<div class="container">
  <p id="notice"><%= notice %></p>

  <h1>Countries</h1>
    <ul class="list-group">
      <% @countries.each do |country| %>
        <li class="list-group-item">
          <%= link_to country.name, edit_country_path(country) %>
          <div class="d-flex justify-content-end">
            <%= link_to 'Destroy', country, method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>

        </li>
      <% end %>
    </ul>
  <br>
  <%= link_to 'New Country', new_country_path, class: 'btn btn-primary' %>
</div>
